<a href="https://colab.research.google.com/github/priyavanshjn/Project-2/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1.L is a list defined as L= [11, 12, 13, 14].
(i) WAP to add 50 and 60 to L.
(ii) WAP to remove 11 and 13from L.
(iii) WAP to sort L in ascending order.
(iv) WAP to sort L in descending order.
(v) WAP to search for 13 in L.
(vi) WAP to count the number of elements present in L.
(vii) WAP to sum all the elements in L.
(viii) WAP to sum all ODD numbers in L.
(ix) WAP to sum all EVEN numbers in L.
(x) WAP to sum all PRIME numbers in L.
(xi) WAP to clear all the elements in L.
(xii) WAP to delete L.

In [ ]:
L = [11, 12, 13, 14]
#add elemt using append
L.append(50)
L.append(60)
print(L)
#delete element using remove
L.remove(11)
L.remove(13)
print(L)
#sort elements
L.sort()
print(L)
L.sort(reverse=True)
print(L)
#searching element
if 13 in L:
    print("present")
else:
    print("absent")
#print length
print(len(L))
#sum of elements
print(sum(L))
#sum of odd
print("sum of odd=",sum(x for x in L if x % 2 != 0))
#sum of even
print("sum of even=",sum(x for x in L if x % 2 == 0))
#sum of prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n//2+1):
        if n % i == 0:
            return False
    return True

print(sum(x for x in L if is_prime(x)))
#clear list
L.clear()
print(L)
#delete list
del L

[11, 12, 13, 14, 50, 60]
[12, 14, 50, 60]
[12, 14, 50, 60]
[60, 50, 14, 12]
absent
4
136
sum of odd= 0
sum of even= 136
0
[]

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i)  WAP to add new entry in D; key=8 and value is 8.8
(ii) WAP to remove key=2.
(iii) WAP to check weather 6 key is present in D.
(iv) WAP to count the number of elements present in D.
(v) WAP to add all the values present D.
(vi) WAP to update the value of 3 to 7.1.
(vii)WAP to clear the dictionary.

In [ ]:
#dictionary operation
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
#adding
D[8] = 8.8
print("after adding=",D)
#pop element
D.pop(2)
print("after pop=",D)
#find element
print(6 in D)
#print length
print(len(D))
#print sum
print("sum=",sum(D.values()))
#update value
D[3] = 7.1
print("after update",D)
#for clear
D.clear()

after adding= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
after pop= {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
False
5
sum= 37.4
after update {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i)  WAP to add 55 and 66 in Set S1.
(ii) WAP to remove 10 and 30 from Set S1.
(iii) WAP to check whether 40 is present in S1.
(iv) WAP to find the union between S1 and S2.
(v) WAP to find the intersection between S1 and S2.
(vi) WAP to find the S1 - S2.

In [ ]:
#Set operations
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
#Adding
S1.add(55)
S1.add(66)
print("after adding=",S1)
#Removing
S1.remove(10)
S1.remove(30)
print("after removing=",S1)
#Check
print(40 in S1)
#union
print("union",S1.union(S2))
#intersection
print("intersection",S1.intersection(S2))
#difference
print("difference",S1.difference(S2))

after adding= {50, 66, 20, 55, 40, 10, 60, 30}
after removing= {50, 66, 20, 55, 40, 60}
True
union {66, 70, 40, 80, 50, 20, 55, 90, 60}
intersection {40, 50, 60}
difference {66, 20, 55}

Q4. Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8.
 (ii) WAP to print all prime numbers between 600 and 800.
(iii)WAP to print all numbers between 100 and 1000 that are divisible by7 and 9.

In [ ]:
#print random string
import random
import string

for i in range(100):
    length = random.randint(6, 8)
    rand_str = ''.join(random.choices(string.ascii_letters , k=length))
    print(rand_str)
#print prime number
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2)+1):
        if n % i == 0:
            return False
    return True

for i in range(600, 801):
    if is_prime(i):
        print(i)
#print divsible  number between 7 and 9
for i in range(100, 1001):
    if i % 7 == 0 and i % 9 == 0:
        print(i)

USGjKsSx
mySBFhC
ihTonM
illazxD
sHfhwbRc
Tvrapfki
eYxIuFgK
sqBAsOCU
ExUGCsB
rIgejffO
RigTuOJz
cmiVwa
tTqjcFa
MeGViIv
wwTRjM
DjDcWfEV
cmrCAV
gPYTXnae
OyTLtVOq
VpNPJTsR
nEBNzr
WkBVBrbO
XXKCOu
xCHASbg
JMWqbwKE
RALJvzwN
wSGyjgPR
mTSJpowS
qOPzhQ
ufMIvKv
FlzrpjtC
JqnRFee
nTSXQEMO
bVzEfJUL
VyvptsRh
cwgUdtBV
QUgqWFM
pMyHWiyb
dKYilcI
rJePzM
QSydQTel
cUAeiOZ
JvRjxHm
Pvtaip
eMcLSoL
ecPVtDA
NhCHvXP
eFtmrkO
sJXzItJl
gYNdLAVk
PbPxxWdK
vHWMeHVj
DiUHZRPV
PrJIQc
wMdYjVWu
XaGRVBR
zrotevJ
mvSXGw
DJRALM
CQQmAgbE
KZqCvQ
tYtWfY
yrJgNYdd
XPvVVvIO
UBQKgfmE
WvgVEgOz
Nmglxs
KdwKFxQ
PTWSRzA
NHheIjVP
lAVpnH
otWHIny
PIIfCt
TGdcZg
nAbsnUgO
hVkrHVEf
ehoXXyN
GNRcEX
udHsUp
ubrtFHGI
BEQwLv
HLCuoz
aBCOCISG
WjBcyAa
HiyzGZp
lOPZfisz
jKpxIW
nffcQiB
TUYxIho
HcqcHywF
mcYUUCi
IovyQuv
uKKmNWp
Dekwio
Dgimuwz
kpyiUr
ibDIMhF
qLFIdK
QQcSnVRS
UMujDy
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find
(i)Common numbers in the two lists
(ii) Unique numbers in both the list
(iii)Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the lists

In [ ]:
import random

# Create two lists with 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for i in range(10)]
list2 = [random.randint(10, 30) for i in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# Common numbers
common = list(set(list1) & set(list2))
print("Common numbers:", common)

# Unique numbers in both lists
unique = list(set(list1) ^ set(list2))
print("Unique numbers =", unique)

# Minimum in both lists
print("Min in List 1=", min(list1))
print("Min in List 2=", min(list2))

# Maximum in both lists
print("Max in List 1=", max(list1))
print("Max in  List 2=", max(list2))

# Sum of both lists
print("Sum of List 1=", sum(list1))
print("Sum of List 2=", sum(list2))
print("Total =", sum(list1) + sum(list2))

List 1: [13, 13, 16, 21, 13, 17, 19, 28, 27, 20]
List 2: [11, 23, 26, 10, 17, 19, 14, 19, 12, 20]
Common numbers: [17, 19, 20]
Unique numbers = [10, 11, 12, 13, 14, 16, 21, 23, 26, 27, 28]
Min in List 1= 13
Min in List 2= 10
Max in List 1= 28
Max in  List 2= 26
Sum of List 1= 187
Sum of List 2= 171
Total = 358

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers

In [ ]:
import random

# Create a list of 100 random numbers between 100 and 900
numbers = [random.randint(100, 900) for i in range(100)]

# (i) All odd numbers
odd_numbers = [x for x in numbers if x % 2 != 0]
print("Odd numbers:", odd_numbers)
print("Count of odd=", len(odd_numbers))

# (ii) All even numbers
even_numbers= [x for x in numbers if x % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even =", len(even_numbers))

# (iii) All prime numbers
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [x for x in numbers if is_prime(x)]
print("Prime numbers=", prime_numbers)
print("Count of prime numbers=", len(prime_numbers))

Odd numbers: [197, 775, 327, 299, 137, 207, 285, 405, 533, 183, 625, 331, 203, 157, 585, 867, 893, 269, 759, 247, 201, 307, 559, 291, 393, 125, 769, 519, 681, 253, 297, 235, 825, 165, 307, 303, 155, 113, 413, 263, 777, 639, 203, 649, 335, 569, 563, 485, 381, 631]
Count of odd= 50
Even numbers: [432, 624, 770, 836, 754, 708, 438, 308, 412, 372, 538, 252, 748, 692, 552, 376, 752, 698, 376, 390, 864, 422, 208, 486, 808, 610, 422, 520, 286, 290, 712, 590, 218, 552, 226, 784, 282, 582, 668, 884, 526, 548, 710, 348, 424, 310, 162, 728, 726, 674]
Count of even = 50
Prime numbers= [197, 137, 331, 157, 269, 307, 769, 307, 113, 263, 569, 563, 631]
Count of prime numbers= 13

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

In [ ]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

with open("file.txt", "w") as file:
    for key, value in D.items():
        file.write(f"{key}, {value}\n")

Q8. Write to the file 100 random strings whose length between 10 and 15.

In [ ]:
import random
import string

with open("random_strings.txt", "w") as file:
    for i in range(100):
        length = random.randint(10, 15)
        rand_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))
        file.write(rand_str + "\n")

Q9. Write to the file all prime numbers between 600 and 800.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False